<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_frame}" xmlns="http://www.w3.org/1999/html">

<div layout:fragment="content">
    <div class="row justify-content-md-center">

        <div class="col-md-8 mt-4">
            <div class="card text-center">
                <div class="card-header pb-0 px-3">
                    <h6 class="mb-0">오늘의 랜덤 추첨 번호</h6>
                </div>

                <form  action="/lotto" method="post">
                    <div class="card-body pt-0 p-1 px-6">
                        <div class="mb-3">
                            <ul class="mt-5 result border-0 row" >
                                <div class="col col-sm-2 justify-content-center" th:each="drawNum : ${randomSet}">
                                    <li class="list-group-item border-0 p-0 mb-0 border-radius-lg" >
                                        <div class="opacity-8 d-flex flex-column icon icon-shape justify-content-center text-center rounded-circle"
                                             th:classappend="${drawNum >= 1 and drawNum <= 10} ? 'bg-gradient-warning' :
                                                              (${drawNum >= 11 and drawNum <= 20} ? 'bg-gradient-primary' :
                                                              (${drawNum >= 21 and drawNum <= 30} ? 'bg-gradient-danger' :
                                                              (${drawNum >= 31 and drawNum <= 40} ? 'bg-gradient-dark' : 'bg-gradient-success')))">
                                            <span class="text-light shadow-card text-bold">[[${drawNum}]]</span>
                                        </div>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-outline-primary" type="submit" >
                            추첨하기!
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>

        function draw()
        {

        }

        function draw(ele)
        {
            const formEl = ele.closest('form')
            const formData = new FormData(formEl)

            let resultDiv = formEl.getElementsByClassName(['result'])[0]

            fetch(formEl.action, {
                method: formEl.method,
                body: formData
            }).then(response => {
                if( response.ok )
                {
                    return response.text()
                }
                else
                {
                    console.log(response)
                    alert('처리 실패')
                }
            }).then(res => {
                console.log(res)
                resultArea.classList.remove('visually-hidden');
                resultArea.textContent=res
            })
                .catch(err => {
                    console.log('err', err)
                })
        }

    </script>
    <iframe id="iframe1" name="iframe1" style="display: none"></iframe>


</div>


</html>