<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout_frame}"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">


<div layout:fragment="content">
    <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg">
        <span class="mask bg-gradient-dark opacity-6"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 text-center mx-auto">
                    <h1 class="text-white mb-2 mt-5">Detail Page</h1>
                </div>
            </div>

            <div class="row  justify-content-center">
                <div class="col-xl-4">

                    <div class="card z-index-0">
                        <div class="card-header text-center pt-4">
                            <h5>프로필</h5>
                            <ul class="list-group">
                                <li class="list-group-item text-center" th:if="${accountInfo.status}" th:text="${accountInfo.status}"></li>
                                <li class="list-group-item text-center" th:unless="${accountInfo.status}" th:text="정상"></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <form id="modAccountInfoForm" role="form" method="POST"  th:if="${#strings.startsWith(servletPath, '/member/profile')}" th:action="${'/member/profile/'+accountInfo.accountName+'/modify'}">
                                <!-- 일반 유저의 본인 계정 수정하기-->
                                <div class="mb-3 input-group">
                                    <span class="input-group-text  text-secondary">계정명</span>
                                    <input type="text" name="accountName" class="form-control" aria-label="Account Name" th:value="${accountInfo.accountName}">
                                </div>
                                <div class="mb-3 input-group">
                                    <span class="input-group-text text-secondary">성명</span>
                                    <input type="text" name="memberInfo.memberName" class="member-info form-control" aria-label="name" th:if="${accountInfo.memberInfo}" th:value="${accountInfo.memberInfo.memberName}">
                                    <input type="text" name="memberInfo.memberName" class="member-info form-control" aria-label="name" th:unless="${accountInfo.memberInfo}"  >
                                </div>

                                <div class="mb-3 input-group">
                                    <span class="input-group-text  text-secondary">사번</span>
                                    <input type="text" name="memberInfo.employeeNo" class="member-info form-control" aria-label="사번" th:if="${accountInfo.memberInfo}" th:value="${accountInfo.memberInfo.employeeNo}">
                                    <input type="text" name="memberInfo.employeeNo" class="member-info form-control" aria-label="사번" th:unless="${accountInfo.memberInfo}" >
                                </div>

                                <div class="mb-3 input-group">
                                    <span class="input-group-text  text-secondary">패스워드</span>
                                    <input type="password" name="password" class="form-control" aria-label="Password">
                                </div>
                                <div class="mb-3 input-group">
                                    <span class="input-group-text  text-secondary">패스워드 재입력</span>
                                    <input type="password" class="form-control" aria-label="Password 재입력">
                                </div>
                                <div class="text-center">
                                    <button onclick="modInfo()" type="button" class="btn bg-gradient-dark w-100 my-4 mb-2">정보 변경</button>
                                </div>
                            </form>


                            <form id="modAccountInfoForm" role="form" method="POST" th:if="${#strings.startsWith(servletPath, '/adm/account')}" th:action="${'/adm/account/'+accountInfo.accountName+'/modify'}">
                                <!-- 관리자의 회원 계정 수정하기-->
                                <div class="mb-3 input-group">
                                    <span class="input-group-text  text-secondary">회원 상태</span>
                                    <input type="text" name="status" class="form-control" aria-label="status" th:value="${accountInfo.status}">
                                </div>
                                <div class="mb-3 input-group">
                                    <span class="input-group-text  text-secondary">계정명</span>
                                    <input type="text" name="accountName" class="form-control" aria-label="Account Name" th:value="${accountInfo.accountName}">
                                </div>
                                <div class="mb-3 input-group">
                                    <span class="input-group-text text-secondary">성명</span>
                                    <input type="text" name="memberInfo.memberName" class="member-info form-control" aria-label="name" th:if="${accountInfo.memberInfo}" th:value="${accountInfo.memberInfo.memberName}" >
                                    <input type="text" name="memberInfo.memberName" class="member-info form-control" aria-label="name" th:unless="${accountInfo.memberInfo}">
                                </div>

                                <div class="mb-3 input-group">
                                    <span class="input-group-text  text-secondary">사번</span>
                                    <input type="text" name="memberInfo.employeeNo" class="member-info form-control" aria-label="사번" th:if="${accountInfo.memberInfo}" th:value="${accountInfo.memberInfo.employeeNo}">
                                    <input type="text" name="memberInfo.employeeNo" class="member-info form-control" aria-label="사번" th:unless="${accountInfo.memberInfo}">
                                </div>

                                <div class="mb-3 input-group" th:if="${#strings.startsWith(servletPath, '/member/profile')}">
                                    <span class="input-group-text  text-secondary">패스워드</span>
                                    <input type="password" name="password" class="form-control" aria-label="password" >
                                </div>
                                <div class="mb-3 input-group" th:if="${#strings.startsWith(servletPath, '/member/profile')}">
                                    <span class="input-group-text  text-secondary">패스워드 재입력</span>
                                    <input type="password"  class="form-control" aria-label="re-password" >
                                </div>

                                <div class="text-center">
                                    <button onclick="modInfo()" type="button" class="btn bg-gradient-dark w-100 my-4 mb-2">정보 변경</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>


                <div class="col-xl-4">

                    <div class="card z-index-0">
                        <div class="card-header text-center pt-4">
                            <h5>권한</h5>
                        </div>
                        <div class="card-body">

                            <form id="modAccountRoleForm" role="form" method="POST" th:action="${'/adm/account/'+accountInfo.accountName+'/modifyRole'}">
                                <div class="" th:each="roleModel, roleModelStat : ${authList}">
                                    <input class="text-center" th:name="${'roleList['+ roleModelStat.index + '].roleName'}" th:text="${'  ' + roleModel.role.roleName }" th:value="${roleModel.role.roleName }" type="checkbox" th:checked="${roleModel.enabled}"/>
                                </div>
                                <div class="text-center">
                                    <button th:if="${#strings.startsWith(servletPath, '/adm/account')}" onclick="modRole()" type="button" class="btn bg-gradient-dark w-100 my-4 mb-2">권한 변경</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

        // 정보 변경
        function modInfo()
        {
            // 디폴트 submit 방지
            const formEl = document.getElementById('modAccountInfoForm');
            formEl.addEventListener('submit', (event) => {
                event.preventDefault()
            })

            const inputEl = formEl.querySelectorAll("input")
            const passEl = formEl.querySelectorAll('input[type="password"]')

            if (checkNodeNotEmpty(inputEl) )
            {
                if(passwordCheck(passEl))
                {
                    saveInfo(formEl)
                }
                else
                {
                    alert("패스워드가 불일치합니다")
                }
            }
            else
            {
                alert("값을 채워주세요")
            }
        }


        function saveInfo(formEl)
        {
            const formData = new FormData(formEl)

            let xhr = new XMLHttpRequest()
            xhr.open(formEl.method, formEl.action, true)

            xhr.onload = (() => {
                if ( xhr.status == 200 )
                {
                    if( xhr.response == 'true')
                    {
                        alert("변경 완료")
                        location.href = ""
                    }
                    else
                    {
                        alert("변경 실패")
                    }
                }
                else
                {
                    alert('이상 응답', xhr, xhr.statusText, xhr.responseText)
                }
            })

            xhr.onerror = (() => {
                alert('온 에러 ', xhr.status, xhr.statusText, xhr.responseText)
            })

            xhr.send(formData)
        }


        // 권한 변경
        function modRole()
        {
            const formEl = document.getElementById('modAccountRoleForm');
            const checkEl = formEl.querySelectorAll('input[type="checkbox"]:checked')

            let roleList = []
            checkEl.forEach((item, idx) => {
                roleList.push(item.value)
            })

            fetch(formEl.action, {
                method: formEl.method,
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(roleList)
            }).then(response =>
                response.json()
            ).then(result => {
                if (result === true)
                {
                    alert('변경 완료')
                    location.href = ''
                } else {
                    alert('변경 실패')
                }
            }).catch(error => console.log('err', error))

        }


        // 패스워드 일치 체크
        function passwordCheck(passEl) {
            if (passEl[0]?.value == passEl[1]?.value) {
                return true
            } else {
                return false
            }
        }


        // 빈값 체크
        function checkNodeNotEmpty(nodeEl) {
            for (const el of nodeEl) {
                if (el.value == '') {
                    return false
                }
            }
            return true
        }
    </script>

</div>


</html>
