<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_frame}" xmlns="http://www.w3.org/1999/html">

<div layout:fragment="content">
    <div class="row justify-content-md-center">

        <div class="col-md-8 mt-4">
            <div class="card text-center">
                <div class="card-header pb-0 px-3">
                    <h6 class="mb-0">CSR\셀프서명인증서\개인키 생성하기</h6>
                </div>

<!--                <form id="form1" name="dtoListTest" action="/ssl/create" method="post" target="iframe1" >-->
                    <div class="card-body pt-4 p-3 px-8">
                        <ul class="list-group mt-6">
                            <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg form-group">
                                <div class="d-flex flex-column col">
                                    <label for="serviceType">어떤 서비스 인증서를 저장할까요?</label>
                                    <div class="dropdown input-group justify-content-md-center">
                                        <select id="serviceType" class="btn btn- btn-outline-dark" data-name="svcName">
                                            <option selected value="*">OPER</option>
                                            <option value="partner-a">PARTNER A</option>
                                            <option value="partner-b">PARTNER B</option>
                                            <option value="test">TEST</option>
                                            <option value="sample">SAMPLE</option>
                                        </select>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <div class="card-footer">
<!--                        <button class="btn btn-outline-primary" type="submit" onclick="javascript:getFile()">-->
<!--                            생성하기-->
<!--                        </button>-->


                        <form method="post" class="text-center" th:id="${'createSslForm'}" th:action="${'/ssl/create'}" th:fragment="createSslForm" style="display: inline-block">
                            <div th:replace="~{fragments/fragment_modal::modal(${''}, 'createSsl', ${''}, 'SSL ALERT', 'SSL 인증서/개인키/CSR을 생성 하시겠습니까? <br /> 다운로드까지 30초 이내의 시간이 소요됩니다')}"></div>
                            <a type="button" class="btn btn-outline-warning"
                               data-toggle="tooltip" data-original-title="Create SSL Files" data-bs-toggle="modal"
                               th:data-bs-target="${'#modal-default_'}">
                                신규 생성
                            </a>
                        </form>

                    </div>




<!--                </form>-->
            </div>
        </div>
    </div>


    <script>

        function getSvcName()
        {
            return document.getElementById("serviceType").value
        }
        //
        function createSsl()
        {

            const formData = new FormData();
            formData.append('svcName', getSvcName());
            // formData.submit();

            fetch('/ssl/create', {
                method: 'POST',
                body: formData
            }).then(response => {
                if (response.ok) {
                    const cd = response.headers.get('Content-Disposition')
                    if (cd && cd.includes('attachment')) {
                        const fileName = cd.split('filename=')[1]
                        const blob = response.blob()

                        blob.then(b => {
                            const url = URL.createObjectURL(b)
                            const aEl = document.createElement("a")
                            aEl.href = url
                            aEl.download = fileName
                            aEl.click()
                            URL.revokeObjectURL(url) // 다운로드 후 url 해제
                        })
                    }
                } else {
                    console.log(response)
                    alert('다운로드 실패. 필요 시 담당자에게 확인 요청하세요( 응답 스테이터스 : ' + response.status + ')')
                }
            }).catch(err => {
                console.log('err', err)
                alert("오류입니다")
            })
        }


        // SSL 신규 생성하여 다운로드
        function createSslOld()
        {
            // 디폴트 submit 방지
            const formEl = document.getElementById('createSslForm');
            formEl.addEventListener('submit', (event) => {
                event.preventDefault()
            })

            fetch(formEl.action, {
                method: formEl.method,
                body: JSON.stringify({svcName: getSvcName()})
            }).then(response => {
                if (response.ok) {
                    const cd = response.headers.get('Content-Disposition')
                    if (cd && cd.includes('attachment')) {
                        const fileName = cd.split('filename=')[1]
                        const blob = response.blob()

                        blob.then(b => {
                            const url = URL.createObjectURL(b)
                            const aEl = document.createElement("a")
                            aEl.href = url
                            aEl.download = fileName
                            aEl.click()
                            URL.revokeObjectURL(url) // 다운로드 후 url 해제
                        })
                    }
                } else {
                    console.log(response)
                    alert('생성 실패. 필요 시 담당자에게 확인 요청하세요( 응답 스테이터스 : ' + response.status + ')')
                }
            }).catch(err => {
                console.log('err', err)
                alert("오류입니다")
            })
        }
    </script>
    <iframe id="iframe1" name="iframe1" style="display: none"></iframe>


</div>


</html>