<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout_frame}">


<div class="row justify-content-md-center" layout:fragment="content">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0">
                <div class="row">
                    <div class="col-6">
                        <h6 style="display: inline-block" th:if="${currentPgpIdx}" th:text="${'PGP 키링 List [pgpIdx: '+currentPgpIdx+']'}">PGP 키링 List</h6>
                        <h6 style="display: inline-block" th:unless="${currentPgpIdx}">KMS PGP 키링 List</h6>
                        <button class="mt-3 btn btn-xs btn-outline-success" th:if="${currentPgpIdx}" th:onclick="'downloadPgp('+${currentPgpIdx}+')'">키링 다운로드</button>
                    </div>
                    <div class="col-6 text-end">
                        <form method="post" class="text-center" th:id="${'createPgpForm'}" th:action="${'/pgp/create'}" th:fragment="createPgpForm" style="display: inline-block">
                            <div th:replace="~{fragments/fragment_modal::modal(${''}, 'createPgp', ${''}, 'PGP ALERT', 'PGP 키링을 생성 하시겠습니까? <br /> 다운로드까지 30초 이내의 시간이 소요됩니다')}"></div>
                            <a type="button" class="btn btn-outline-warning"
                               data-toggle="tooltip" data-original-title="Create PGP Keyring" data-bs-toggle="modal"
                               th:data-bs-target="${'#modal-default_'}">
                                신규 생성
                            </a>
                        </form>

                        <a class="btn btn-outline-primary" th:href="@{/pgp/merge}"> 키링 추가</a>
                        <a class="btn btn-outline-primary" th:href="@{/pgp/remove}">키링 제거</a>
                        <a class="btn btn-outline-primary" th:href="@{/pgp/split}"> 구성 확인</a>
                        <a class="btn btn-outline-primary" th:href="@{/pgp/convert}">PGP 변환</a>
                        <a class="btn btn-outline-secondary" th:href="@{/pgp/dbList}">DB PGP 목록</a>
                        <a class="btn btn-outline-secondary" th:href="@{/pgp/dbSave}">DB PGP 저장</a>
                    </div>
                </div>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                        <thead>
                        <tr>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                KEY ID / User ID
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                Master / Sub
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                생성일 / 만료일
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                유효여부
                            </th>
                            <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                비밀키 유무
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pgpKey : ${pgpKeyList}">

                            <td class="align-middle text-center ">
                                <h6 class="text-sm font-weight-bold mb-1" th:text="${pgpKey.keyId}">키아이디</h6>
                                <p style="word-wrap: break-word; overflow-wrap: break-word; word-break: break-word; white-space: pre-wrap" class="mb-2 text-xs" th:text="${pgpKey.userId}">User Id</p>
                            </td>
                            <td class="align-middle text-center ">
                                <p class="text-xs font-weight-bold mb-1"  th:if="${pgpKey.isMaster}">Master</p>
                                <p class="text-xs font-weight-bold mb-1"  th:unless="${pgpKey.isMaster}">Sub</p>
                                <p class="text-xs text-secondary mb-1"  th:text="${'유효일수 : '+pgpKey.validDays}">유효일수</p>
                            </td>

                            <td class="align-middle text-center text-sm">
                                <p class="text-xs text-secondary mb-1" th:text="${'생성일 : '+ #dates.format(pgpKey.creationTime, 'yyyy-MM-dd HH:mm:ss')}">생성</p>
                                <p class="text-xs font-weight-bold mb-1" th:text="${'만료일 : '+#dates.format(pgpKey.expireTime, 'yyyy-MM-dd HH:mm:ss')}">만료</p>
                            </td>

                            <td class="align-middle text-center ">
                                <h6 class="mb-2 text-sm" th:if="${pgpKey.isValidNow}">사용가능</h6>
                                <h6 class="mb-2 text-sm" th:unless="${pgpKey.isValidNow}">만료</h6>
                            </td>

                            <td class="align-middle text-center ">
                                <h6 class="mb-2 text-sm" th:if="${pgpKey.hasPrivateKey}">○</h6>
                                <h6 class="mb-2 text-sm" th:unless="${pgpKey.hasPrivateKey}">X</h6>
                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        // KMS 다운로드
        function downloadPgp(pgpIdx)
        {
            let formData = document.createElement('form');
            const newInput = document.createElement("input");
            newInput.name = 'pgpIdx'
            newInput.value = pgpIdx
            formData.appendChild(newInput)

            document.body.appendChild(formData) //필요한가
            // formData.submit();

            fetch('/pgp/download', {
                method: 'POST',
                body: formData
            }).then(response => {
                if (response.ok) {
                    const cd = response.headers.get('Content-Disposition')
                    if (cd && cd.includes('attachment')) {
                        const fileName = cd.split('filename=')[1]
                        const blob = response.blob()

                        blob.then(b => {
                            const url = URL.createObjectURL(b)
                            const aEl = document.createElement("a")
                            aEl.href = url
                            aEl.download = fileName
                            aEl.click()
                            URL.revokeObjectURL(url) // 다운로드 후 url 해제
                        })
                    }
                } else {
                    console.log(response)
                    alert('다운로드 실패. 필요 시 담당자에게 확인 요청하세요( 응답 스테이터스 : ' + response.status + ')')
                }
            }).catch(err => {
                console.log('err', err)
                alert("오류입니다")
            })
        }

        
        //  PGP 신규 생성하여 다운로드
        function createPgp()
        {
            // 디폴트 submit 방지
            const formEl = document.getElementById('createPgpForm');
            formEl.addEventListener('submit', (event) => {
                event.preventDefault()
            })

            // formEl.submit();
            const formData = new FormData(formEl)

            fetch(formEl.action, {
                method: formEl.method,
                body: formData
            }).then(response => {
                if (response.ok) {
                    const cd = response.headers.get('Content-Disposition')
                    if (cd && cd.includes('attachment')) {
                        const fileName = cd.split('filename=')[1]
                        const blob = response.blob()

                        blob.then(b => {
                            const url = URL.createObjectURL(b)
                            const aEl = document.createElement("a")
                            aEl.href = url
                            aEl.download = fileName
                            aEl.click()
                            URL.revokeObjectURL(url) // 다운로드 후 url 해제
                        })
                    }
                } else {
                    console.log(response)
                    alert('생성 실패. 필요 시 담당자에게 확인 요청하세요( 응답 스테이터스 : ' + response.status + ')')
                }
            }).catch(err => {
                console.log('err', err)
                alert("오류입니다")
            })
        }

    </script>
</div>

</html>